{% extends 'base.html' %}

{% block title %}
Password Update
{% endblock %}


{% block content %}

<div class="container w-25 card py-2">
    <h6 class="text-center">Update Password</h6>
    <form action="{{ request.path }}" method="POST">
        
        {{ form.csrf_token }}
        
        <!-- Current Password -->
        {% if request.path == url_for('auth_views.change_password') %}
            {{ form.current_password(class_="form-control",placeholder="Enter current password")}} 
            <a href="{{url_for('auth_views.reset_password')}}" class="text-decoration-none pl-2">Forgote Password?</a>
            {% for error in form.current_password.errors %}
                {{ error }}
            {% endfor%}
            <br>
            <br>
        {% endif %}
        <!-- Password -->
        {{ form.new_password(class_="form-control",placeholder="Enter new password")}}
        {% for error in form.new_password.errors %}
            {{ error }}
        {% endfor %}
        <br>    
        <!-- Confirm Password -->
        {{ form.confirm_new_password(class_="form-control",placeholder="Confirm new Password")}}
        {% for error in form.confirm_new_password.errors %}
            {{ error }}
        {% endfor%}
           
        <br/>
        <!-- Form Submit -->
        <button type="submit" class="btn btn-block btn-primary mb-3">Submit</button>

    </form>
</div>

{% endblock %}