{% extends 'base.html' %}

{% block title %}
Password Update
{% endblock %}


{% block content %}

<div class="container w-50 card py-2">
    <form action="{{ request.path }}" method="POST"> 
        <!-- csrf token -->
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <!-- Email -->
        <input type="email" name="mail" placeholder="Enter your register email" required class="form-control"/>
        <br/>
        <!-- Form Submit -->
        <button type="submit" class="btn btn-block btn-primary mb-3">Submit</button>

    </form>
</div>

{% endblock %}